$body-bg: #f5f8fa;

$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$orange: #ef6733;

$primary: darken(#398bf7, 1%);
$success: #06d79c;

$font-weight-bold: 600;
