
// General
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-weight-bold: 600;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$orange: #ef6733;
$primary: darken(#398bf7, 1%);
$success: #06d79c;
$danger: #ef5350;
