
// General
$body-bg: #f5f8fa;

// Colors
$dark: #4d545d;
$orange: #ef6733;
$primary: #3490dc;
$success: #06d79c;
$danger: #ef5350;

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-weight-bold: 700;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$headings-font-weight: $font-weight-bold;
$headings-color: $dark;

$btn-font-weight: 600;

$card-border-radius: 0;
