.favorite-link,
.action-link {
  color: #999;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  outline: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.action-link {
  font-size: 1.05rem;
}

.favorite-link:hover,
.action-link:hover {
  text-decoration: none;
}

.favorite-link:active,
.action-link:active {
  outline: none !important;
}

.favorite-link:hover i.fa {
  color: $danger !important;
}

.action-link:hover i.fa {
  color: $info;
}

.btn.btn-primary:hover {
  -webkit-box-shadow: 0 14px 26px -12px rgba(116, 96, 238, 0.42),
  0 4px 23px 0 rgba(0, 0, 0, 0.12),
  0 8px 10px -5px rgba(116, 96, 238, 0.2);
  -moz-box-shadow: 0 14px 26px -12px rgba(116, 96, 238, 0.42),
  0 4px 23px 0 rgba(0, 0, 0, 0.12),
  0 8px 10px -5px rgba(116, 96, 238, 0.2);
  box-shadow: 0 14px 26px -12px rgba(116, 96, 238, 0.42),
  0 4px 23px 0 rgba(0, 0, 0, 0.12),
  0 8px 10px -5px rgba(116, 96, 238, 0.2);
}

.btn.btn-light {
  border-color: rgba(0, 0, 0, 0.125);
}

.btn.btn-light:hover {
  -webkit-box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42),
  0 4px 23px 0 rgba(0, 0, 0, 0.12),
  0 8px 10px -5px rgba(169, 169, 169, 0.2);
  -moz-box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42),
  0 4px 23px 0 rgba(0, 0, 0, 0.12),
  0 8px 10px -5px rgba(169, 169, 169, 0.2);
  box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42),
  0 4px 23px 0 rgba(0, 0, 0, 0.12),
  0 8px 10px -5px rgba(169, 169, 169, 0.2);
  background-color: $light;
  border-color: rgba(0, 0, 0, 0.3);
}

.btn.btn-danger:hover {
  -webkit-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42),
  0 4px 23px 0 rgba(0, 0, 0, 0.12),
  0 8px 10px -5px rgba(239, 83, 80, 0.2);
  -moz-box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42),
  0 4px 23px 0 rgba(0, 0, 0, 0.12),
  0 8px 10px -5px rgba(239, 83, 80, 0.2);
  box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42),
  0 4px 23px 0 rgba(0, 0, 0, 0.12),
  0 8px 10px -5px rgba(239, 83, 80, 0.2);
}
