.table th {
  font-size: $font-size-sm;
  font-weight: normal;
  border: none !important;
  text-transform: uppercase;
  letter-spacing: .08rem;
}

.table tr:first-child td {
  border-top: none !important;
}
