.py-1-5 {
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}

.border-bottom-0 {
  border-bottom-width: 0 !important;
}

b, strong {
  color: #4d545d;
}

.invalid-feedback strong {
  color: inherit !important;
}

.bg-blue-darker {
  background-color: $blue-darker;
}

.text-blue-darker {
  color: $blue-darker;
}

.text-orange {
  color: $orange;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.text-xs {
  font-size: .75rem;
}

.flex-1 {
  flex: 1;
}

.fa-1-75x {
  font-size: 1.75em;
}

[class*='btn-outline'] {
  border-width: 2px !important;
}
