.py-1-5 {
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}

.border-bottom-0 {
  border-bottom-width: 0 !important;
}

b, strong {
  color: #4d545d;
}

.bg-blue-darker {
  background-color: $blue-darker;
}

.text-blue-darker {
  color: $blue-darker;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.text-xs {
  font-size: .75rem;
}

.flex-1 {
  flex: 1;
}
